<html ng-app="exe">
<head>
	<link rel="stylesheet" href="bootstrap.min.css" />
	
</head>
<body>
	<div class= "container" ng-controller="dado">
		<div class="row">
			<div class="col-xs-12">
				<h1>Exercicio1</h1>
			</div>
			<div class="col-xs-12">
				<input type="submit" value="SORTEAR" ng-click="Sorteia()"/>
			</div>
			<div class="col-xs-3"  ng-repeat="dado in dados track by $index">
				<img ng-src="{{dado}}"/>		
			</div>
		</div>
	</div>
			
	<script type="text/javascript" src="angular-1.2.29/angular.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</body>
</html>